<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dreamcatcher</title>
  </head>
  <body>
    <h1>Welcome to Dreamcatcher</h1>
    <nav>
      <ul>
        <li>Dreams</li>
        <li>Nightmares</li>
        <li>Favorites</li>
    <hr>
    <div class="container">

    </div>
      </ul>
    </nav>
  </body>
</html>
