<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" type="image/png" href="favicon.png"/>
      <link rel="stylesheet" href="/css/bootstrap.css">
      <link rel="stylesheet" href="/css/main.css">
    <meta charset="utf-8">
    <title>Dreamcatcher</title>
  </head>
  <body style="background-color: teal">
    <nav>
      <h1 class="jumbotron">Welcome to Dreamcatcher</h1>
      <ul class="account">
        <li><a href="/sessions/new">Log In</a></li>
        <li><a href="/users/new">Register</a></li>
        <% if (currentUser) { %>
          <li>
            <form action="/sessions?_method=DELETE" method="POST">
              <input type="submit" value="Logout">
          </form>
        </li>
        <% } %>
      </ul>
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li> <a href="/new">New Dream</a></li>
      </ul>
    </nav>
    <br>
    <div class="container">
      <h2>▼  Here are all your Dreams   ▼</h2>
      <% for (let i = 0; i < dream.length; i++) { %>
        <div class="column" id="dreams">
          <%#<button type="button" name="button">Favorite</button>%>
          <br>
          <a href="/<%= dream[i].id %>"><h3><%= dream[i].title %></h3></a><h6>(dreamt the night of <%= dream[i].date %>)</h6>
          <br>
          <p><%= dream[i].entry %></p>
        </div>
        <!-- CLOUDS -->
        <div class="cloud">
        <div id="cloud">
          <div id="bottom_c"></div>
          <div id="right_c"></div>
          <div id="left_c"></div>
        </div>
        </div>
      <%}%>

        <!-- Display previously entered dreams -->

    </div>
  </body>
</html>
