<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <!-- <link rel="stylesheet" href="../public/css/bootstrap.css"> -->
    <meta charset="utf-8">
    <title>Dreamcatcher</title>
  </head>
  <body>
    <h1 align='center' style="background-color: lightblue">Welcome to Dreamcatcher</h1>
    <nav  align='center' style="padding-top:10px">
      <ul style="list-style: none" display='inline-block'>
        <li style="display:inline; padding: 14px; background-color:skyblue; border-radius: 10px">Home</li>
        <li style="display:inline; padding: 14px">Favorites</li>
        <li style="display:inline; padding: 14px"><button onclick="location.href='/new'"type="button" name="newDream">New Dream</button></li>
      </ul>
    </nav>
    <hr>
    <div align='center'class="container">
      <h1>What was caught</h1>

        <!-- Display previously entered dreams -->

    </div>
      </ul>
    </nav>
  </body>
</html>
