<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
        <meta charset="utf-8">
    <title>New Dream</title>
  </head>
  <body style="background-color:teal">
    <nav>
      <h1 class="jumbotron">Welcome to Dreamcatcher</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li>Favorites</li>
        <li> <a class="active" href="http://localhost:3000/new">New Dream</a></li>
      </ul>
  </nav>
  <br>
    <div class="container">
      <form id="dreams" action="/" method="post">
        <h1>What did you dream last night?</h1>
        <br>
        <input type="text" name="title" placeholder="Title">
        <input type="date" name="date">
        <br>
        <textarea name="entry" rows="8" cols="80" placeholder="What did you dream about last night...."></textarea>
        <br>
        <input type="submit" name="submit" value="Add new dream">
      </form>
  </div>
  </body>
</html>
