<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" type="image/png" href="favicon.png"/>
      <link rel="stylesheet" href="/css/bootstrap.css">
      <link rel="stylesheet" href="/css/main.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="background-color: teal">
    <h1 class="jumbotron">Welcome back!</h1>
    <div class="container">
      <h2>Log in:</h2>
    <form name="login" action="/sessions" method="POST">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" name="" value="Log in">
    </form>
    </div>
  </body>
</html>
