<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" type="image/png" href="favicon.png"/>
      <link rel="stylesheet" href="/css/bootstrap.css">
      <link rel="stylesheet" href="/css/main.css">
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body style="background-color: teal">
    <h1 class="jumbotron">Create a Dreamcatcher account</h1>
    <div class="container">
      <h2>Sign Up:</h2>
    <form name="signUP" action="/users" method="POST">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Sign up">
    </form>
  </div>
  </body>
</html>
